.theme-mac-alt .easyeditor {
    border: none;
    padding: 15px;
    border-top: 1px solid #6c6c6c;
    margin-bottom: 0;
    color: #595757;
    background: #f1f4f7;
}

.theme-mac-alt .easyeditor-toolbar {
    border: none;
    padding: 15px 10px 10px 15px;
    background: #c8cacc;
    background: -moz-linear-gradient(top, #c8cacc 0%, #8a8f92 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #c8cacc), color-stop(100%, #8a8f92));
    background: -webkit-linear-gradient(top, #c8cacc 0%, #8a8f92 100%);
    background: -o-linear-gradient(top, #c8cacc 0%, #8a8f92 100%);
    background: -ms-linear-gradient(top, #c8cacc 0%, #8a8f92 100%);
    background: linear-gradient(to bottom, #c8cacc 0%, #8a8f92 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8cacc', endColorstr='#8a8f92', GradientType=0 );
    border-top: 1px solid #d9dadb;
}

.theme-mac-alt {
    border: 1px solid #a7a6a6;
    border-radius: 3px;
}

.theme-mac-alt .easyeditor-toolbar li button {
    background: #6b6f73;
    background: -moz-linear-gradient(top, #6b6f73 0%, #5f6469 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #6b6f73), color-stop(100%, #5f6469));
    background: -webkit-linear-gradient(top, #6b6f73 0%, #5f6469 100%);
    background: -o-linear-gradient(top, #6b6f73 0%, #5f6469 100%);
    background: -ms-linear-gradient(top, #6b6f73 0%, #5f6469 100%);
    background: linear-gradient(to bottom, #6b6f73 0%, #5f6469 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b6f73', endColorstr='#5f6469', GradientType=0 );
    color: #ffffff;
    padding: 5px 8px;
    border: 1px solid #5f6368;
    border-radius: 2px;
    box-shadow: 0px 1px 0px #b3b6b8;
}

.theme-mac-alt .easyeditor-toolbar li button:hover {
    background: #1f2225;
    background: -moz-linear-gradient(top, #1f2225 0%, #4d5156 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #1f2225), color-stop(100%, #4d5156));
    background: -webkit-linear-gradient(top, #1f2225 0%, #4d5156 100%);
    background: -o-linear-gradient(top, #1f2225 0%, #4d5156 100%);
    background: -ms-linear-gradient(top, #1f2225 0%, #4d5156 100%);
    background: linear-gradient(to bottom, #1f2225 0%, #4d5156 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f2225', endColorstr='#4d5156', GradientType=0 );
    border: 1px solid #4a4e53;
    color: #fff;
}
